{% extends 'flatpages/default.html' %} 
{% block title %}
Новости
{% endblock title %}
 
{% block content %}

<h1>Все новости</h1>

{% if posts %}

<table>
    {% for post in posts %}
    <tr>
        <td>{{ post.create_time|date:"d.m.Y" }}</td>
        <td>
            <p style="font-weight: bold">{{ post.title }}</p>
            <p>{{ post.text|truncatewords:20 }}</p>
            <p><a href="/news/{{ post.id }}">Читать далее</a>&nbsp;&nbsp;&nbsp;{% if perms.news.change_post %}<a href="/news/{{ post.id }}/edit">Редактировать</a>{% endif %}&nbsp;&nbsp;&nbsp;{% if perms.news.delete_post %}<a href="/news/{{ post.id }}/delete">Удалить</a>{% endif %}</p>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>Нет никаких новостей.</p>
{% endif %}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}